<div class='result'>
<h5>Wait for user to finish their order. You will automatically be redirected</h5>
</div>
<script>
    var peer=new Peer('{{sck}}',{key:'ij9zd1c0c6czyqfr'});
    peer.on('connection', function(conn){
        alert('1');
        conn.on('open', function(){
            conn.on('data', function(data){
                $('.result').empty();
                $('.result').append('<h5>Check if order agrees</h5>');
                $('.result').append(data);
                $('.result').append("<div class='row'><div class='col s6'><button class='btn green' id='button-success'>Yes</button></div><div class='col s6'><button class='btn red'>No</button></div></div>");
            });
        })
        peer.on('error', function(err){
            alert(err);
        });
    });
    $('.result').on('click', '#button-success', function(){
        alert('1');
        var conn=peer.connect('{{sck}}2', {key:'ij9zd1c0c6czyqfr'});
        conn.on('open', function(){
            conn.send('1');
            window.location.href='/rank/{{userID}}';
        });
    });
</script>