{{#each array}}
<!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style='width:100%;margin:1px solid black; margin-round:20px;'>
          <li class="dropdown{{this._id}}" style='width:100%; '>
                          
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;" style='width:100%' >
                    
                   
                </a>
                <ul class="dropdown-menu" style="width:100%" >
                    
                </ul>
                
            </li>
        </ul>
</div>-->
<div class='row'>
    <table style='width:100%'>
                        <tr>
                            <td><a href="/u/{{this.userId}}">{{this.user}}</a></td>
                            <td>{{this.cost}}</td>
                            <td><a href='/gps/{{this._id}}'>Gps</a></td>
                        </tr>
    </table>
<a class='dropdown-button btn' id='dropdownt{{this._id}}' href='#' data-activates='dropdown{{this._id}}' style='width:100%' onclick>More details<span class="caret"></span></a>

  <!-- Dropdown Structure -->
  <ul id='dropdown{{this._id}}' class='dropdown-content'>
      <div class='col-sm-6'>
                    <div id='{{this._id}}' style="height:600px; width:100%"></div>
      </div>
      <div class='col-sm-6'>
                    <div id='distance{{this._id}}'></div>
                    <div id='duration{{this._id}}'></div>
                    <div id='shopping-list'>
                        <h3>Shopping list:</h3>
                        {{#each this.shoppingList}}
                            {{this.shop}}, {{this.thing}}, {{this.price}}<br>
                        {{/each}}
                    </div>
     </div>
     <div class='row'>
        <center><a href='/a/{{this._id}}' id='{{this.userId}},{{this._id}}' class="btn-propagator"><button class="btn btn-block btn-form"><i class="fa fa-check" aria-hidden="true"></i></button></a></center>
     </div>
  </ul>
</div>
{{/each}}

<script>
    function getLocation(){
        {{#each array}}
        $('#dropdownt{{this._id}}').on('click', function (e) {
            alert('1');
            if(navigator.geolocation){
			    navigator.geolocation.getCurrentPosition(function(position){
                    var waypoints=[];
                    {{#each this.shoppingList}} 
                        waypoints.push({
                            location:new google.maps.LatLng({{this.lat}},{{this.lng}}),
                            stopover:true
                        })
                    {{/each}}
                    var userLocation= new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var orderLocation= new google.maps.LatLng({{this.userLat}}, {{this.userLng}});
                    var dirS= new google.maps.DirectionsService;
                    var dirR= new google.maps.DirectionsRenderer;
                    var map = new google.maps.Map(document.getElementById('{{this._id}}'), {
                        center: {lat: position.coords.latitude, lng: position.coords.longitude},
                        zoom: 13
                    });
                    dirR.setMap(map);
                    displayRoute(dirS, dirR, userLocation, orderLocation,waypoints, '{{this._id}}'); 
                });
            }
        })
		{{/each}}
	}
    
    function displayRoute(directionsService, directionsDisplay, userLocation, orderLocation,waypoints,id) {
        console.log('1');
        directionsService.route({
          origin: userLocation,
          destination: orderLocation,
		  waypoints:waypoints,
		  optimizeWaypoints:true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var totalDistance = 0;
                var totalDuration = 0;
                var legs = response.routes[0].legs;
                for(var i=0; i<legs.length; ++i) {
                    totalDistance += legs[i].distance.value;
                    totalDuration += legs[i].duration.value;
                }
                $('#distance'+id).text('Distance: '+totalDistance/1000 + 'km');
                $('#duration'+id).text('Duration: '+totalDuration/60/60 + 'h');
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnOrzB7Std2HPs3zgHIMS4frn20AevGgM&callback=getLocation{{this._id}}"
async defer></script>
 