<row>
<div id='dist'><center></center></div>
</row>
<div class='col-sm-4'>
	<div id='directions'></div>
</div>
<div class='col-sm-6'>
	<div id='map' style="height:600px"></div>
</div>
<script>
    var map;
    
	var waypoints=[];
	
	function getLocation(){
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(initMap);
		}
	}
	var peer=new Peer('{{orderID}}',{key:'ij9zd1c0c6czyqfr'});
	peer.on('error', function(err){
		alert(err);
	})
  setInterval(getLocation,10000); 
	function initMap(position) {
			var clearWay=[]
			{{#each array}}
				waypoints.push({
					location:new google.maps.LatLng({{this.lat}},{{this.lng}}),
					stopover:true
				})
				clearWay.push({lat: {{this.lat}} , lng:{{this.lng}} })
			{{/each}}
			
			var userLocation= new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
			var orderLocation= new google.maps.LatLng({{userLat}}, {{userLen}});
			var userLat={{userLat}};
			var userLng={{userLen}};
			
			peer.on('connection',function(conn){
        alert('1');
				conn.on('open', function(){
					conn.send({userLat:position.coords.latitude,userLng:position.coords.longitude, orderLat:userLat, orderLng:userLng, waypoints:clearWay });
					conn.on('data', function(data){
						alert('1');
						window.location.href = '/await/{{orderID}}';
					})
				});
			})
			var dirS= new google.maps.DirectionsService;
			var dirR= new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
	            center: {lat: position.coords.latitude, lng: position.coords.longitude},
	            zoom: 13
            });
            dirR.setMap(map);
						$('#directions').empty();
            dirR.setPanel(document.getElementById('directions'));
						
            displayRoute(dirS, dirR, userLocation, orderLocation,waypoints);
            //PRODUCTION, HOPE TO GET ANOTHER WAY, WASTE OF MILLION API CALLS
        }
		 var count=0;
     function displayRoute(directionsService, directionsDisplay, userLocation, orderLocation,waypoints) {
        console.log('1');
				directionsService.route({
          origin: userLocation,
          destination: orderLocation,
					waypoints:waypoints,
					optimizeWaypoints:true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
					directionsDisplay.setDirections(response);
          var count = 0;
          var legs = response.routes[0].legs;
          for(var i=0; i<legs.length-1; i++){
						if(legs[i].distance.value<100000){
							for(var j=0; j<waypoints.length; j++)
								{
									if(google.maps.geometry.spherical.computeDistanceBetween(waypoints[j].location, legs[j].end_location) < 30000)
									{
										waypoints.splice(j,1);
										console.log(waypoints);
									}
								}
								count++;
							}
						}
						if(count==legs.length-1)
						{
                
						}
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
				
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnOrzB7Std2HPs3zgHIMS4frn20AevGgM&callback=getLocation"
async defer></script>