{{#if messages}}
{{this}}
{{/if}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class='alert'>
</div>
{{#if login}}
    <script>
      var waitPeer = new Peer('wait{{id}}', {key: 'ij9zd1c0c6czyqfr'});
      waitPeer.on('connection', function(conn){
          alert('1');
        conn.on('data', function(data){
          
          $('.alert').append('<div class="card" style="width: 20rem;"><div class="card-block"><h4 class="card-title">message</h4><p class="card-text">New message.</p><a href="/messagebox" class="btn btn-primary">View it</a></div></div>');

         
        })
      })
    </script> 
{{/if}}