<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
    
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/helpStyle.css">

  

  
</head>
<body class="grey lighten-4">
  <!-- DO NOT MOVE OR DELETE BELOW  -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="/javascripts/peer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <nav class="purple darken-2">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">ExampleLogo</a>
      <a href="#" data-activates="slide-out" class="right button-collapse show-on-large purple darken-2"><i class="material-icons">menu</i></a>
      <ul id="slide-out" class="side-nav">
        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
        {{#if login}}
        <li><a href="/profile"><i class="material-icons">account_box</i>Profile</a></li>
        <li><a href="/deliver"><i class="material-icons">motorcycle</i>Become a deliverer</a></li>
        <li><a href="/order"><i class="material-icons">add_shopping_cart</i> Place an order</a></li>
        <li><a href='/messagebox'>Message box</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
        {{else}}
        <li><a href="/login"><i class="material-icons">exit_to_app</i>Sign in</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
  <!-- <script>
      var peerRedirect=new Peer("{{id}}", {key:'ij9zd1c0c6czyqfr'});
      peerRedirect.on('connection', function(conn){
        alert('1');
      });
      $('.btn-propagator').on('click', function(e){
            alert('1');
            var id=$(this).attr('id');
            var splitID=id.split(',');
            alert(splitID[0]);
            e.preventDefault();
            var connection=peerRedirect.connect(splitID[0]);
            console.log(connection);
            connection.on('open', function(){
                connection.send('1');
                connection.close();
            })
      })
      peerRedirect.on('error',function(err){
        alert(err);
      })
  </script> -->
  <script>
    $('.button-collapse').sideNav({
      menuWidth: 300,
      edge: 'right',
      closeOnClick: true,
      draggable: true
    });
  </script>
</body>
</html>
