<form action='/message' method="POST" id='msgForm'>
    <input type='text' value='{{user}}' name='user' readonly="readonly">
    <br>
    <input type='text' placeholder="Title" name='title'>
    <br>
    <textarea name="context" cols="40" rows="5"></textarea>
    <input type='submit' value='Wyslij'>
</form>
<script>
    var peer = new Peer('msg', {key: 'ij9zd1c0c6czyqfr'}); 
    var conn = peer.connect('wait{{userID}}');
    conn.on('open', function(){
        conn.send('1');
    });     
</script>