
{{#each messages}}
    <a href='/showmsg/{{this._id}}'>
        <div class="panel panel-default" {{#if this.read}}{{else}}style='background-color:beige;'{{/if}}>
            <div class="panel-body">
                {{this.from}}|{{this.title}}
                <span style='text-align:right'>{{this.date}}</div>                
            </div>
        </div>
    </a>
{{/each}}
