<br>
<div class="col offset-s2 s8">
    <form action='/placeorder' method='post'>
        <div class="row">
            <div class="col s8">
                <nav>
                    <div class="nav-wrapper teal lighten-2">
                        <div class="input-field">
                            <input id="place" name="place" type="search" placeholder="City" required>
                            <label class="label-icon" for="place"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                </nav>
            </div>
            <button class="col offset-s1 s3 btn waves-effect waves-light down purple darken-3" type="submit">Search</button>
        </div>
    </form>
    
        {{#if secTime}}
            <div class="input-field col s12">
                <select id="shopList" class="validate">
                    <option value="" disabled selected>Choose shop from list</option>
                    {{#each array}}
                        <option id="selectedShop-{{this.shopName}}" value="{{this.shopName}}">{{this.shopName}}</option>
                    {{/each}}
                </select>
                <label>Shops</label>
            </div>    
            <div class="row">
                <div class="input-field col s12">
                    <input id="priceValue" type="number" class="validate" name="priceValue" min="0.01" step="0.01" required>
                    <label for="priceValue">Price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m5">
                    <input type="text" class="validate" name="thingName" id="thingName" required>
                    <label for="thingName">Thing name</label>
                </div>
                <button type="button" class="btn col m3 offset-m2 s10 offset-s1 waves-effect waves-light down purple darken-3" id="addThings">Add to order</button>
            </div>
    </div>

    
    <div id="thingsList"></div>
    <div id="summary"></div>
    {{/if}}
    
<div id="map" style='height:1000px; width:1000px;'></div>

{{#if secTime}}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <script>
        function getLocation(){
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{latitude}}, lng: {{longitude}} },
            zoom: 14
            });
        }
    </script>
    <script>

     var companies = Array();
     var orders = [];
     var thingListNotCreated = true;
     var totalPrice = parseFloat("0");
     var shops=[];
     var selectedLat=0;
     var selectedLng=0;
     var userLat;
     var userLng;
     {{#each array}}
        shops.push({
            shop:"{{this.shopName}}",
            lat:{{this.lat}},
            lng:{{this.lng}}
        });
     {{/each}}
     if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                userLat = p.coords.latitude;
                userLng = p.coords.longitude;
            })
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
     var addThingsToList = document.getElementById('addThings');
      addThingsToList.addEventListener("click", function(){

        var options = document.getElementById('shopList');
        var selectedVal = options.options[options.selectedIndex].value;
        if(thingListNotCreated){

            var sumForm = document.createElement('form');
            sumForm.id = "sumForm";
            {{!--sumForm.classList.add('form-horizontal');--}}

            var group = document.createElement('div');
            group.classList.add('form-group');

            var labelTotalPrice = document.createElement('label');
            labelTotalPrice.setAttribute('for', 'totalPrice');
            labelTotalPrice.classList.add('control-label', 'col-sm-2');
            labelTotalPrice.innerHTML = "Total:";

            var inputGroup = document.createElement('div');
            inputGroup.classList.add('col-sm-10', 'input-group');

            var addon = document.createElement('span');
            addon.classList.add('input-group-addon');
            addon.id = "currency";
            addon.innerHTML = "PLN";

            var totalPriceInput = document.createElement('input');
            totalPriceInput.setAttribute('disabled', true);
            totalPriceInput.classList.add('form-control');
            totalPriceInput.setAttribute('name', 'totalPrice');
            totalPriceInput.setAttribute('placeholder', document.getElementById('priceValue').value);
            totalPriceInput.id = 'totalPrice';

            var btnAddon = document.createElement('span');
            btnAddon.classList.add('input-group-btn');

            var btnSendRequest = document.createElement('button');
            btnSendRequest.setAttribute('type', 'button');
            btnSendRequest.classList.add('btn', 'btn-primary');
            btnSendRequest.id = 'submitOrders';
            btnSendRequest.innerHTML = "Submit";


            btnAddon.appendChild(btnSendRequest);
            inputGroup.appendChild(addon); 
            inputGroup.appendChild(totalPriceInput);
            inputGroup.appendChild(btnAddon);
            group.appendChild(labelTotalPrice);
            group.appendChild(inputGroup);
            sumForm.appendChild(group);
            document.getElementById('summary').appendChild(sumForm);

            thingListNotCreated = false;
        } 
        
        if(companies.includes(selectedVal)){
            var item = document.createElement('div');
            item.classList.add('col-xs-8');
            var removeItem = document.createElement('button');
            removeItem.type = 'button';
            removeItem.classList.add('btn', 'col-xs-1', 'btn-danger', 'btn-sm');
            removeItem.innerHTML = "&times;";
            var itemName=document.getElementById('thingName').value;

            var itemNode = document.createTextNode(document.getElementById('thingName').value);
            item.appendChild(itemNode);
            var price = document.getElementById('priceValue').value;
            var itemPrice = document.createElement('span');
            itemPrice.classList.add('col-xs-2', 'itemPrice');
            itemPrice.textContent = price + " PLN";
            var content = document.getElementById('wantedThings-' + selectedVal);
            var row = document.createElement('div');
            row.classList.add('row', 'stuffList');
            var freeSpace = document.createElement('div');
            freeSpace.classList.add('col-xs-1');

            row.appendChild(freeSpace);
            row.appendChild(removeItem)
            row.appendChild(item);
            row.appendChild(itemPrice);
            content.appendChild(row);

            totalPrice += parseFloat(price);
            document.getElementById('totalPrice').setAttribute('placeholder', totalPrice);

            removeItem.addEventListener("click", function(){
                totalPrice = parseFloat(totalPrice) - parseFloat(price);
                content.removeChild(row);
                document.getElementById('totalPrice').setAttribute('placeholder', totalPrice);
                if (!document.getElementById('wantedThings-' + selectedVal).firstChild) {
                    var currentPanel = document.getElementById('wantedThings-' + selectedVal).parentElement.remove();
                    companies.pop();
                    
                }
                if(companies === undefined || companies.length == 0){
                    document.getElementById('sumForm').remove();
                    thingListNotCreated = true;
                }
            });
            for(var i=0; i<shops.length; i++)
            {
                if(shops[i].shop==selectedVal){
                    selectedLat=shops[i].lat;
                    selectedLng=shops[i].lng;
                }
            }
            
            orders.push({
                shop: selectedVal,
                lat: selectedLat,
                lng: selectedLng,
                thing: itemName,
                price: price,
            });
            console.log(orders);

            {{!-- Changing total things prices inside one shop --}}
            var totalShopPrice = document.getElementById(selectedVal + '-price');
            var temp = totalShopPrice.textContent;
            temp = temp.replace(" PLN", "");
            var temp2 = parseFloat(temp) + parseFloat(price);
            temp2 += " PLN";
            var currentTotalShopPrice = document.createElement('h4');
            currentTotalShopPrice.classList.add('col-xs-3', 'totalShopPrice');
            currentTotalShopPrice.id = selectedVal + '-price';
            currentTotalShopPrice.innerHTML = temp2;
            document.getElementById(selectedVal + '-header').replaceChild(currentTotalShopPrice, totalShopPrice);

      } else {
        companies.push(selectedVal);
        var listThingsFromShops = document.createElement('div');
        listThingsFromShops.classList.add('panel');
        listThingsFromShops.classList.add('panel-primary');
        var companyName = document.createElement('div');
        companyName.classList.add('panel-heading');
        companyName.id = selectedVal;

        var header = document.createElement('div');
        header.classList.add('panel-title', 'row');
        header.id = selectedVal + '-header';
        
        var title = document.createElement('h4');
        title.classList.add('col-xs-9');

        var textnode = document.createTextNode(selectedVal);
        title.appendChild(textnode);

        header.appendChild(title);

        companyName.appendChild(header);
        listThingsFromShops.appendChild(companyName);
        var content = document.createElement('div');
        content.classList.add('panel-body');
        content.id = ('wantedThings-' + selectedVal);
        listThingsFromShops.appendChild(content);
        document.getElementById('thingsList').appendChild(listThingsFromShops);
        

        var removeItem = document.createElement('button');
        removeItem.type = 'button';
        removeItem.classList.add('btn', 'col-xs-1', 'btn-danger', 'btn-sm');
        removeItem.innerHTML = "&times;";
        
        var price = document.getElementById('priceValue').value;

        var totalShopPrice = document.createElement('h4');
        totalShopPrice.appendChild(document.createTextNode(price + " PLN"));
        totalShopPrice.classList.add('col-xs-3', 'totalShopPrice');
        totalShopPrice.id = (selectedVal + '-price');
        header.appendChild(totalShopPrice);
        

        var itemPrice = document.createElement('span');
        itemPrice.classList.add('col-xs-2', 'itemPrice');
        itemPrice.textContent = price + " PLN";
        var item = document.createElement('div');
        item.classList.add('col-xs-8');
        var itemName = document.getElementById('thingName').value;
        var itemNode = document.createTextNode(itemName);
        var row = document.createElement('div');
        row.classList.add('row', 'stuffList');
        var freeSpace = document.createElement('div');
        freeSpace.classList.add('col-xs-1');


        item.appendChild(itemNode);
        row.appendChild(freeSpace);
        row.appendChild(removeItem)
        row.appendChild(item);
        row.appendChild(itemPrice);
        content.appendChild(row);

        totalPrice += parseFloat(price);
        document.getElementById('totalPrice').setAttribute('placeholder', totalPrice);

        removeItem.addEventListener("click", function(){

            totalPrice = parseFloat(totalPrice) - parseFloat(price);
            content.removeChild(row);
            document.getElementById('totalPrice').setAttribute('placeholder', totalPrice);
            if (!document.getElementById('wantedThings-' + selectedVal).firstChild) {
                var currentPanel = document.getElementById('wantedThings-' + selectedVal).parentElement.remove();
                companies.pop();
            }
            if(companies === undefined || companies.length == 0){
                document.getElementById('sumForm').remove();
                thingListNotCreated = true;
            }
        });
        for(var i=0; i<shops.length; i++)
        {
            if(shops[i].shop==selectedVal){
                selectedLat=shops[i].lat;
                selectedLng=shops[i].lng;
            }
        }
        orders.push({
            shop: selectedVal,
            lat: selectedLat,
            lng: selectedLng,
            thing: itemName,
            price: price
        });
        console.log(orders);
      }

    var submitOrders = document.getElementById('submitOrders');
     submitOrders.addEventListener("click", function(e){

        var request = new XMLHttpRequest(); 
        request.open("POST", "http://10.0.2.2:3000/sendorder", true);
        request.setRequestHeader("Content-type", "application/json");
        var data={
            shops:orders,
            price:totalPrice,
            userLat:userLat,
            userLng:userLng
        };
        request.onreadystatechange = function (){
            if (request.readyState==4 && request.status == 200) window.location=request.responseText;
        };
        
        request.send(JSON.stringify(data));
    });
});
</script>
{{else}}
    <script>
        var map;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(initMap);
        } else {
            alert('Error');
            }
        }     
        function initMap(position) {
            map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: position.coords.latitude, lng: position.coords.longitude},
            zoom: 15
            });
            var marker = new google.maps.Marker({
            position: {lat: position.coords.latitude, lng: position.coords.longitude},
            map: map,
            title: 'Here you are!'
            });
        }
    </script>
{{/if}}
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnOrzB7Std2HPs3zgHIMS4frn20AevGgM&callback=getLocation"
    async defer></script>

</div>

<!--<script>
    $(document).ready(function(){
		// from http://stackoverflow.com/questions/19578111/how-to-add-clone-form-fields-using-jquery-and-increment-ids-and-names
		// this will add a new row of fields each time user clicks 'add extra line' button
		
        //We will be using an unique index number for each new instance of the cloned form
        var item_number_form_index=0;
        
		//When the button is clicked (or Enter is pressed while it's selected)
        $("#addnewitemline").click(function(){
            //Increment the unique index cause we are creating a new instance of the form
            item_number_form_index++;
			
            //Clone the form and place it just before the button's <p>. Also give its id a unique index
            $(this).parent().before($("#itemaddline").clone().attr("id","itemaddline" + item_number_form_index));
            
			//Make the clone visible by changing CSS
            $("#itemaddline" + item_number_form_index).css("display","inline");
            
			//For each input fields contained in the cloned form...
            $("#itemaddline" + item_number_form_index + " :input").each(function(){
                //Modify the name attribute by adding the index number at the end of it
                $(this).attr("name",$(this).attr("name") + item_number_form_index);
                //Modify the id attribute by adding the index number at the end of it
                $(this).attr("id",$(this).attr("id") + item_number_form_index);
				
            });
			$("#itemaddline" + item_number_form_index + " span.itemnum").text(item_number_form_index);

        }); 
	// add some item lines by default. (this pretends the button has been clicked three times on load)	
	$( "#addnewitemline" ).trigger( "click" );	
	$( "#addnewitemline" ).trigger( "click" );	
	$( "#addnewitemline" ).trigger( "click" );	

	
// if they select it is a new supplier then show reason box and make it required.
 $('#frm-newsupplier').change(function () {
    var reqreason = $('#frm-newsupplier').val();
    if(reqreason == "Yes")  {
		$("#reasonhidden").fadeIn( "slow" );
		$("#frm-Reason").attr("required","true");
    } else { // but if they then select no, do the opposite.
		$("#reasonhidden").fadeOut( "slow" );
		$("#frm-Reason").removeAttr("required");
	}	
});

// Update the total cost when quantity/cost/vat fields updated.
// if the cost field for any line item changes.
$('.cost').change(function () {
	updatecosttotals();
});
$('.quantity').change(function () {
	updatecosttotals();
});
$('.vat').change(function () {
	updatecosttotals();
});

var updatecosttotals = function() {
	var totalcost = 0;
	$('.itemline').each(function() { // for each item fieldset on the entire form#
		var rawcost = $(this).find(".cost").val();
		rawcost = rawcost.replace("\u00A3",""); // stupid unicode poundsign (this removes the £, if there is one)
		var thiscost = parseFloat(rawcost); // convert the cost field to a float.
		if (!isNaN(thiscost)) { // if not not a number, ie if it is a number
			var itemtotal = thiscost // total item cost is quantity x cost
			// add vat , if vat is checked 
			var VATcheck = $(this).find(".vat:checked").val();
			if ( VATcheck ) {
				var itemtotalpercentage = 0.20 * itemtotal;
				itemtotal = itemtotal + itemtotalpercentage;
			}
			totalcost = totalcost + itemtotal; // add this cost to the running total
			$(this).find(".itemtotal").text("total: " + itemtotal.toFixed(2)); //print it below the cost box
		}
	});
	$("#frm-totalcost").val(totalcost.toFixed(2)); // update total field.
}	
	

	
});
</script>

<style type="text/css">

.pur_col1 {
width:20px;
}
.pur_col2 {
width:250px;
float:left;
}
.pur_col3 {
width:90px;
float:left;
}
.pur_col4 {
width:80px;
float:left;
}
.pur_col5 {
width:60px;
float:left;
}
/* cost */
.pur_col6 {
	width:70px;
	float:left;
}
.pur_col7 {
width:35px;
float:left;
}
.purlineitem {
	float:left;
	border: 1px solid black;
	min-height: 70px;
	font-size:0.9em;
	padding:2px;
}	
.hidden {
    display: none;
}

</style>

<form class="style1" id="purchaseorder" action="" method="post">
<fieldset>

<div style="width:610px;display:inline;">
	<div class="pur_col1 purlineitem">#</div>
	<div class="pur_col2 purlineitem">Item Description</div>
	<div class="pur_col6 purlineitem">Cost per item</div>
	<div style="clear:both"></div>
</div>

<div style="width:610px;" class="hidden itemline" id="itemaddline">
	<input type="hidden" name="START_OF_ITEM_" value="########################" />
	<div class="pur_col1 purlineitem"><span class="itemnum"></span></div>
	<div class="pur_col2 purlineitem"><textarea id="frm-Item" cols="27" rows="3" name="Item_"></textarea></div>
	 <div class="pur_col4 purlineitem"><input id="frm-catpage" maxlength="10" name="catpage_" size="2" type="text" /></div>
	<div class="pur_col6 purlineitem">
		<input id="frm-cost" class="cost" maxlength="10" name="Cost" size="3" type="text" /> 
		<div class="itemtotal" style="font-size:0.9em"> </div>
	</div>
	<div style="clear:both"></div>
</div>



<p> <input type="button" value="Add extra line" id="addnewitemline"></p>

<p><div style="clear:both"></div>
<dl>
<dt><label for="frm-totalcost">Total expected cost:</label></dt>
<dd><input id="frm-totalcost" maxlength="10" name="totalcost" size="8" type="text" /></dd>
<dt><label for="frm-addinfo">Additional information:</label></dt>
<dd><textarea id="frm-addinfo" cols="60" rows="5" name="AdditionalInformation"></textarea></dd>

</dl>

<div style="clear:both"><input type="submit" value="Submit" /></div>


</fieldset>
</form>-->