
{{#if user.google.id}}
<div class='row'>
    <img src='{{user.google.image}}' class='img-responsive circle col s5 m1 offset-s5 offset-m5'>
</div>
<div class='container'>
    <div class='row'>
        <div class="name col s5 m4 offset-m4 offset-s4">{{user.google.name}}</div>
    </div>
{{else}}
<div class='container'>
    <div class="name">{{user.facebook.name}}</div>
{{/if}}
<div class="rating">
    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
</div>
<style> 
.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    display: none;
    visibility: none;
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $('.rating input').click(function () {
        $(".rating span").removeClass('checked');
        $(this).parent().addClass('checked');
    });

    $('input:radio').change(
      function(){
          alert('1');
        var userRating = this.value;
        alert(userRating);
        var abcd=window.location.href;
        var orderID=abcd.split('/');
        window.location.href='/rate/'+orderID[4]+'/'+userRating;
    }); 
});
</script>
