<h2>Result form</h2>
<div class='total'>
    {{#each order.shoppingList}}
    <div class='row'>
        <div class='col s3'>
            <button class='waves-effect waves-light btn red btn-remove'><i class="material-icons">close</i></button>
        </div>
        <div class='col s6'>
            <div>{{this.thing}}</div>
        </div>
        <div class='col s3 price'>
            <div class='pricesum'>{{this.price}}</div>
        </div>
    {{/each}}
    </div>
    <div class='row total'>
        <div class="input-field col s12">
            <input type='number' disabled  class='validate' id='disabled'>
            <label for="disabled">Disabled</label>
        </div>
    </div>
</div>
<div class='row'>
    <button class='green btn btn-continue'>Continue</button>
</div>
<script>
    start();
    function start(){
        var sum=0;
        $('.pricesum').each(function(){
            sum+=parseFloat($(this).text());
        })
        $('#disabled').attr('value', sum);
    }
    $('.btn-remove').on('click', function(){
        var totalValue=$('#disabled').val();
        var closestPriceStr=$(this).parent().siblings('.price').text();
        var price=parseFloat(closestPriceStr);
        var changeTotal=totalValue-price;
        $('#disabled').attr('value', changeTotal);
        var row=$(this).parent().parent();
        row.remove();
    });
    $('.btn-continue').on('click',function(){
        alert('a');
        peerSend();
    });
    function peerSend()
    {
        alert('1');
        var peer=new Peer('{{id}}2', {key:'ij9zd1c0c6czyqfr'});
        var conn=peer.connect('{{id}}');
        console.log(conn);
        conn.on('open', function(){
            conn.send($('.total').html());
        });
        peer.on('error', function(err){
            alert(err);
        });
        peer.on('connection', function(getConn){
            getConn.on('data', function(data){
               window.location.href='/rank/{{order.takenBy}}'; 
            })
        });
    }
</script>