<div class='row'>
  <div class='col s12'>
    <div id='map' style="height:1500px; width:100%"></div>
  </div>
</div>
<footer class="page-footer" style='position:fixed; bottom:0; left:0; width:100%;' hidden>
  <div class="container" >
    <div class="row">
      <div class='col s3'>
        <a href='' class='continue'><i class="material-icons">done</i></a>
      </div>
      <div class='col s6 offset-s1'>
        <div class='white-text'>When you see your deliverer, click on that button to finalize your order</div>
      </div>
    </div>
  </div>
</footer>
<script>
	var map;
function getLocation(){
		if(navigator.geolocation){
			navigator.geolocation.getCurrentPosition(start);
		}
	}
var peerConn = new Peer({key: 'ij9zd1c0c6czyqfr'}); 
var conn = peerConn.connect('{{id}}');
peerConn.on('error', function(err){
    alert(err);
});
function start(position)
  {
      var parts=window.location.href.split('/');
      var orderId=parts.pop();
      
     
      conn.on('open', function(){
        conn.on('data', function(data){
            
            var googleWay=[];
            var userLocation=new google.maps.LatLng(data.userLat, data.userLng);
            var shopLocation=new google.maps.LatLng(data.orderLat, data.orderLng);
            for(var i=0; i<data.waypoints.length; i++)
            {
              googleWay.push({
                location:new google.maps.LatLng(data.waypoints[i].lat,data.waypoints[i].lng),
                stopover:true
              });
            };
          	var dirS= new google.maps.DirectionsService;
			      var dirR= new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
	            center: {lat: data.userLat, lng: data.userLng},
	            zoom: 13
            });
            var marker
            dirR.setMap(map);
            displayRoute(dirS, dirR, userLocation, shopLocation,googleWay);
            //PRODUCTION, HOPE TO GET ANOTHER WAY, WASTE OF MILLION API CALLS
            //setInterval(displayRoute(dirS, dirR, userLocation, shopLocation),100); 
          });
        })
       
  }
   $('.continue').on('click', function(){
      conn.send('Albania');
   })
     function displayRoute(directionsService, directionsDisplay, userLocation, shopLocation,waypoints) {
        directionsService.route({
          origin: userLocation,
          destination: shopLocation,
          waypoints:waypoints,
					optimizeWaypoints:true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var count = 0;
            var legs = response.routes[0].legs;
            for(var i=0; i<legs.length-1; i++){
						  if(legs[i].distance.value<100000){
							  for(var j=0; j<waypoints.length; j++)
								{
									if(google.maps.geometry.spherical.computeDistanceBetween(waypoints[j].location, legs[j].end_location) < 30000)
									{
										waypoints.splice(j,1);
										console.log(waypoints);
									}
								}
								count++;
							}
						}
						if(count==legs.length-1)
						{
              $('.page-footer').prop('hidden',false);
              var abcd=window.location.href;
              var orderID=abcd.split('/');
              $(".continue").prop("href", "/result/"+orderID[4]);
						}
          } else {
              window.alert('Directions request failed due to ' + status);
            }
          });
        }
  		
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnOrzB7Std2HPs3zgHIMS4frn20AevGgM&callback=getLocation"
async defer>