<span class='goback'>
    <a href='/messagebox'><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</span>
<span style='margin-left:20px'>
    <div class='message'>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class='col-sm-8'>
                    {{message.title}}
                </div>
                <div style='text-align:right'>{{message.from}}</div>
            </div>
            <div class="panel-body">
                {{message.content}}
                 <hr>
                <form class='reply' action='/message' method="POST">
                    <input type='hidden' value='{{message.from}}' name='user'>
                    <input type='text' name='title' placeholder="Title">
                    <br>
                    <textarea rows='5' cols='80' name='context' placeholder="Message"></textarea>
                    <br>
                    <input type='submit' value='Wyslij'>
                </form>
            </div>
        </div>
    </div>
</span>
