<div class="center">
    <header>
        <h3>Become a deliver</h3>
    </header>
    <main>
        <section>
            <p>Fill the form to grant access and enjoy to deliver community.</p>
        </section>
    </main>
</div>


<div class="row">
    <form action="/checkout" method="POST" class="col s12" id="checkout-form">
        <div class="row">
            <div class="input-field col m5 s10 offset-s1">
                <input id="name" type="text" class="validate" name="name" required>
                <label for="name">Name and Surname</label>
            </div>
            <div class="col m1"></div>
            <div class="input-field col m5 s10 offset-s1">
                <input id="address" type="text" class="validate" name="address" required>
                <label for="address">Address</label>
            </div>
        </div>
        <br>
        <div class="divider"></div>
        <br>
        <div class="row">
            <div class="input-field col m5 s10 offset-s1">
                <input id="card-name" type="text" class="validate" name="card-name" required>
                <label for="card-name">Card's owner name</label>
            </div>
            <div class="col m1"></div>
            <div class="input-field col m5 s10 offset-s1">
                <input id="cnum" type="text" class="validate" name="cnum" required>
                <label for="cnum">Credit card number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m5 s10 offset-s1">
                <input id="cardexpm" type="text" class="validate" name="cardexpm" required>
                <label for="cardexpm">Card expiry date: month</label>
            </div>
            <div class="col m1"></div>
            <div class="input-field col m5 s10 offset-s1">
                <input id="cardexpy" type="text" class="validate" name="cardexpy" required>
                <label for="cardexpy">Card expiry date: year</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m5 s10 offset-s1">
                <input id="cvc" type="text" class="validate" name="cvc" required>
                <label for="cvc">CVC</label>
            </div>
            <div class="col m1"></div>
            <div class='input-field col m5 s10 offset-s1'>
                <input id="country" type="text" class="validate" name="country" required>
                <label for="country">Country (2 letter shortcut)</label>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="col m3 btn waves-effect waves-light down purple darken-3">Submit to checkout</button>
        </div>
        
    </form>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>