
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.login-page{
    margin-right: auto;
    margin-left: auto;
    position:relative;
    max-width: 350px;
}
.form{
    position: absolute;
    margin: 0 auto;
}

.btn-form{
    margin: 2px auto;
}

.form-horizontal .form-group .control-label{
    text-align: left;
}

.form-horizontal .form-group .col-xs-12{
    padding: 6px 0;
}

#map{
    height: 300px;
}

.stuffList{
    margin-bottom: 2px;
    
}

.itemPrice, .totalShopPrice{
    text-align: right;
}
td{
    width:25%;
}
.alert{
   position: fixed;
   bottom:0;
   left:0; 
}