{{#if hasErrors}}
    <div class="modal">
      <div class="modal-content">
        <h4>Error</h4>
        <p>{{messages}}</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
{{/if}}

  <header>
    <h3 class="center">Login to ExampleLogo</h3>
  </header>

  <div class="row">
      <main class="col offset-m2 m8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum sodales vulputate. Vestibulum elementum sapien et tempor vulputate. Praesent ac faucibus tellus. Fusce non rhoncus augue, et aliquet dolor. Sed eleifend neque volutpat mi vulputate vulputate. Donec risus elit, fermentum at odio suscipit, hendrerit consequat nulla.
    </main>
  </div>
  
    <br>
    <form>
        <div class="row">
            <a href='/auth/google' class="col offset-l4 offset-m3 offset-s1 l4 m6 s10 btn" style="background-color:#d34836"><i class="fa fa-google" aria-hidden="true"></i> Continue with Google</a>
        </div>
        <div class="row">
            <a href='/auth/facebook' class="col offset-l4 offset-m3 offset-s1 l4 m6 s10 btn" style="background-color: #3B5998"><i class="fa fa-facebook-official" aria-hidden="true"></i> Continue with Facebook</a>
      </div>
    </form>
    


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

