{{#if login}}
<div class='col-sm-8 col-sm-offset-2'>
    <h2 class="fa fa-google-plus">Google</h2><br>
    <img src="{{image}}" class="img-circle"><br>
    <strong>email</strong>: {{email}}<br>
    <strong>name</strong>: {{name}}
    {{#if owns}}
    <h1>Your accepted orders:</h1>
    <ul>
      {{#each array}}
        <li>
          <div class="dropdown">
          <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>{{this.user}}</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
          <a href='/message/{{this.userId}}' style='color:black; padding:15px'>Private message</a>
  </ul>
        </div>
          {{#each this.shoppingList}}
            {{this.shop}}|{{this.thing}}|{{this.price}}|
          {{/each}}
        <a href='/showgps/{{this._id}}'><button><i class="fa fa-binoculars" aria-hidden="true"></i><button></a></li>
      {{/each}}
    </ul>
    <h1>Orders that you accepted:</h1>
    <ul>
      {{#each byYou}}
      <li>
        
          {{#each this.shoppingList}}
            {{this.shop}}|{{this.thing}}|{{this.price}}|
          {{/each}}
        <a href='/gps/{{this._id}}'><button><i class="fa fa-binoculars" aria-hidden="true"></i><button></a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
      <div class='comments'>
          <form action='/comment/{{id}}' method="POST">
              <input type="text" placeholder='Wpisz komentarz' id='comment' name="comment" required>
              <input type='submit' value='Wyslij komentarz'>
          </form>
          <div class='comment-show'>
              {{#each comments}}
                <p>{{this.user}}: {{this.comment}}</p>
              {{/each}}
          </div>
      </div>
</div>

{{/if}}